[project]
	description = Python for you and me book
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Praveen Kumar (praveenkumar)
[access "refs/for/refs/*"]
	read = group user/Praveen Kumar (praveenkumar)
	push = group user/Praveen Kumar (praveenkumar)
	label-Code-Review = -2..+2 group user/Praveen Kumar (praveenkumar)
	label-Verified = -1..+1 group user/Praveen Kumar (praveenkumar)
	rebase = group user/Praveen Kumar (praveenkumar)
	removeReviewer = group user/Praveen Kumar (praveenkumar)
	submit = group user/Praveen Kumar (praveenkumar)
[access "refs/heads/*"]
	read = group user/Praveen Kumar (praveenkumar)
	create = group user/Praveen Kumar (praveenkumar)
	push = +force group user/Praveen Kumar (praveenkumar)
	pushMerge = group user/Praveen Kumar (praveenkumar)
[access "refs/tags/*"]
	push = +force group user/Praveen Kumar (praveenkumar)
	pushTag = group user/Praveen Kumar (praveenkumar)
	pushSignedTag = group user/Praveen Kumar (praveenkumar)
